torch
transformers
triton
tqdm
performer-pytorch
tensorboard
axial_positional_embedding
local-attention
fsspec
wrapt
opt_einsum
gast
gdown
google_drive_downloader
bs4
astunparse
absl-py
psutil
numpy
einops
pickle